@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Starshot.Frontend.Models.UserListViewModel>

<div class="container">
    @Html.ActionLink("Add User", "AddUser", "Home", new { ViewBag.Session })
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>FullName</td>
                <td>TimeIn</td>
                <td>TimeOut</td>
                <td>Active</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.FullName</td>
                    <td>@user.TimeIn</td>
                    <td>@user.TimeOut</td>
                    <td>@user.Active</td>
                    <td>
                        <a asp-action="EditUser" asp-route-userId="@user.UserId">Edit</a> | <a asp-action="DeleteUser" asp-route-userId="@user.UserId">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

</div>
